.example-card {
  width: 1500px;
  margin-bottom: 8px;
  height: 400px;
  margin: 10px;
  background-image: url("https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg");
  background-size: cover;
  color: white;
  font-size: larger;
}
mat-card-title {
  color: white;
}
